.about-container {
  padding: 0;
  margin: 0;
  width: 100vw;
  z-index: 2;
  scroll-margin-top: 15vw;
}

.technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-margin-top: 5vw;
}

.technologies > h3 {
  font-family: Arial, Helvetica, sans-serif;
}

.inner-section {
  width: 90vw;
  height: fit-content;
  background-color: rgb(46, 42, 42);
}

.inner-section:hover {
  background-color: rgb(255, 255, 255);
  background-color: rgb(9, 70, 94);
  color: black;
  color: white;
}

.inner-section > h6 {
  position: relative;
  border-bottom: 1.5px solid rgb(10, 165, 217);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
}

@media screen and (max-width:480px) and (min-width:0px) {
  .about-container {
    color: white;
    border-radius: 10px;
    height: fit-content;
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #about-heading {
    font-size: 6vw;
    color: rgb(33, 31, 31);
    color: white;
    padding: 3vw 10vw;
    border-radius: 5px;
  }

  #about-description {
    text-align: justify;
    font-size: 3vw;
    padding: 0 4vw;
    line-height: 4vw;
    color: rgb(41, 237, 172);
    color: rgb(224, 223, 223);
    margin-top: -4vw;
  }

  .technologies {
    color: white;
    margin-top: 0vh;
    scroll-margin-top: 28vw;
  }

  .technologies > h3 {
    font-size: 6vw;
    padding: 3vw;
  }

  .inner-sections-container {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    column-gap: 3vw;
    row-gap: 3vw;
    margin-top: 0vh;
  }

  .inner-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0;
    height: 45vw;
    width: 45vw;
    padding: 0;
    margin: 0;
    border-radius: 20px;
  }

  .inner-section > h6 {
    font-size: 3.5vw;
    margin: 0;
    padding: 1.5vh 0;
  }

  .logo-div > img {
    height: 18vw;
    width: 18vw;
    object-fit: contain;
    border: none;
  }

  .logo-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4vw;
    margin-top: 0vw;
    height: 100%;
    width: 100%;
  }

  .front-end-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 0vh;
    column-gap: 0vw;
    margin-top: 0;
    width: 80%;
  }

  .front-end-logos > img {
    width: 14vw;
    height: 14vw;
  }
}

@media screen and (max-width:768px) and (min-width:481px) {
  .about-container {
    color: white;
    border-radius: 10px;
    height: fit-content;
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #about-heading {
    font-size: 5vw;
    color: rgb(33, 31, 31);
    color: white;
    padding: 3vw 10vw;
    border-radius: 5px;
    background-color: none;
  }

  #about-description {
    text-align: justify;
    font-size: 2.5vw;
    padding: 0 4vw;
    line-height: 3.7vw;
    color: rgb(41, 237, 172);
    color: rgb(224, 223, 223);
    margin-top: -4vw;
  }

  .technologies {
    color: white;
    margin-top: 0vh;
    scroll-margin-top: 15vw;
  }

  .technologies > h3 {
    font-size: 5vw;
    padding: 3vw;
  }

  .inner-sections-container {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    column-gap: 3vw;
    row-gap: 3vw;
    margin-top: 0vh;
  }

  .inner-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0;
    height: 45vw;
    width: 45vw;
    padding: 0;
    margin: 0;
    border-radius: 20px;
  }

  .inner-section > h6 {
    font-size: 3vw;
    margin: 0;
    padding: 1.5vh 0;
  }

  .logo-div > img {
    height: 18vw;
    width: 18vw;
    object-fit: contain;
    border: none;
  }

  .logo-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4vw;
    margin-top: 0vw;
    height: 100%;
    width: 100%;
  }

  .front-end-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 0vh;
    column-gap: 0vw;
    margin-top: 0;
    width: 80%;
  }

  .front-end-logos > img {
    width: 14vw;
    height: 14vw;
  }
}



@media screen and (min-width:768px) {
  .about-container {
    display: none;
    color: white;
    border-radius: 10px;
    height: fit-content;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60vw;
    padding: 2vw;
  }

  #about-heading {
    font-size: 2vw;
    color: rgb(33, 31, 31);
    color: white;
    padding: 1vw;
    border-radius: 10px;
    font-weight: 500;
    margin-top: 0vw;
    text-align: left;
  }

  #about-description {
    text-align: justify;
    font-size: 1vw;
    line-height: 1.8vw;
    width: 100%;
    color: rgb(228, 222, 222);
    color: rgb(255, 255, 255);
    margin-top: 0vh;
  }

  .technologies {
    color: white;
    margin-top: 0vw;
    row-gap: 1vh;
  }

  .inner-sections-container {
    width: 70vw;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 0vw;
    row-gap: 2vw;
    justify-items: center;
    padding-bottom: 5vw;
    margin-top: 2vw;
  }

  .technologies > h3 {
    font-size: 1.8vw;
    font-weight: 550;
    width: 100%;
    text-align: center;
  }

  .inner-section {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    padding: 1vw 0;
    border-radius: 20px;
    border: 1px solid rgb(165, 163, 163);
  }

  .inner-section > h6 {
    font-size: 1vw;
    padding-bottom: 1vw;
    justify-self: flex-start;
    border-bottom: 1px solid red;
    margin-bottom: 4vw;
    row-gap: -3vw;
  }

  .logo-div > img {
    width: 5vw;
    height: 5vw;
    object-fit: contain;
    border: none;
  }

  .logo-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1vw;
    margin-top: 0vw;
    justify-self: flex-start;
  }

  .front-end-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2vw;
    column-gap: 2vw;
    margin-top: -2vw;
    justify-items: center;
    align-items: center;
    width: fit-content;
    align-self: center;
    justify-self: start;
  }

  .front-end-logos > img {
    margin-top: 0;
    width: 4vw;
    height: 4vw;
    object-fit: contain;
    border-radius: 10px;
  }
}