

.projects-section{


   
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vw;
    scroll-margin-top: 5vw;
    
}

.projects-section-heading{

    color: #ffffff;
   font-size: 2.5vw;
        font-weight: 600;
    
}

.project-section-descript{

    color: #e6e1e1;
    width:60% ;
    font-size: 1vw;
    line-height: 1.5vw;
    
}
.projects-container{

   
     width: fit-content;
    height: fit-content;
    display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(1, 1fr);
   
    column-gap: 4vw;
    row-gap: 3vw;
    margin-top: 4vw;
}

.project{

    border: 1px solid rgb(2, 191, 254);
    width: 30vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: start;
    
    padding-bottom: 1vw;
    margin: 0;
    border-radius: 0 40px;
    background-color:rgb(0, 0, 0);
    background-color:rgb(2, 43, 28) ;
   
}

.project:hover{

 background-color:rgb(0, 0, 0);
 background-color:rgb(76, 76, 5);
}

.project>h3{

    color: white;
    
}

.project-image {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  object-position: top center; 
  border-radius: 0 40px;
 
}

.project-detail{

    color: white;
   
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.project-dectiption{


    color: rgb(255, 255, 255);
    font-size: 0.9vw;
    width:90%;
   
    
}

.project-icons
{

    display: flex;
    flex-direction: row;

column-gap: 1vw;

}

.project-icons>img{

    width: 3vw;
    height: 3vw;
}


.project-button{


    color:black;
    background-color:rgb(241, 235, 235);
    
    margin-top: 1.5vw;
    padding: 0.5vw 2vw;
 
    border-radius: 8px;
    
    font-size: 1.1vw;
    border: 3px solid blueviolet;
    text-decoration: none;
    
}


.project-button:hover{

    background-color: rgb(83, 5, 5);
    color: white;
    border: 1px solid white;
}










@media screen and ( max-width:768px)
{

   .projects-section{
  scroll-margin-top: 20vw;
  margin-top: 10vw;

    }
    .projects-container{

       
        flex-direction: column;
        margin-top: 8vw;
       
      
    }
   .project{
width: 40vw;
padding-bottom: 2vw;
   
   }

   .project-image{
    height: 25vw;
   }

   .projects-section-heading{

    font-size: 4vw;
}

   .project-dectiption{

    font-size: 1.5vw;
   
   }

   .project-button{

    margin-top: 2vw;
    padding: 0.8vw 3vw;
    font-size: 1.5vw;
   } 

  

   .project-section-descript{

    font-size: 2vw;
    line-height: 3vw;
    width: 80%;
    
   }
}



@media screen and ( max-width:480px)
{

    .projects-section{
  scroll-margin-top: 20vw;

    }
    .projects-container{

       
        row-gap: 16vw;
        flex-direction: column;
          grid-template-columns: repeat(1, 1fr);
         
      
    }

   

    .projects-section-heading{

    font-size: 8vw;
    font-weight: 500;
    text-align: center;
   
}
     .project-section-descript{

        font-size: 3vw;
        line-height: 4vw;
        width: 80%;
        
     }
   .project{
width: 80vw;
padding-bottom: 4vw;
   
   }



   .project-image{
    height: 45vw;
   }

   .project-heading{

    font-size: 4vw;
}

   .project-icons{

    column-gap: 4vw;
   }

.project-icons>img{

    width: 7vw;
    height: 7vw;
}
.project-button{
    
    margin-top: 2vw;
    padding: 1vw 4vw;
    font-size: 3.5vw;
} 

.project-dectiption{

 font-size: 3vw;
 
 padding: 0;
 
 margin-left: 2vw;
}
}










