

.skills-section{

    width: fit-content;
    height: 50%;
    /* border: 2px solid red; */
    color: white;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 7vw
}

.skills-container{

    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 7vw;
    
    /* width: 100%; */
}

.technologies-section{

    width: 90vw;
    height: fit-content;
  
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2vw;
    border: 1px solid rgb(156, 153, 153);
   
      background-color:rgb(2, 2, 48);
     
      padding-bottom: 5vw;
    
    border-radius: 20px;
}

.front-end-technologies-heading{

    font-size: 2vw;
    font-weight: 100;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 2px;
    
}

.front-end-subsections{

    width: 80%;
  
    
    background-color: rgb(67, 67, 1);
    background-color: rgb(9, 70, 94);
    padding: 0 1vw;
    border-radius: 10px;
    border: 1px solid rgb(156, 153, 153);
    font-size: 1vw;
    color: rgb(238, 233, 233);
    
}


.front-end-subsections:hover{


    background-color: rgb(39, 37, 37);
}










@media  screen and (max-width: 768px) {

    .skills-section{

        scroll-margin-top: 15vw;
    }

    .front-end-subsections{

        font-size: 1.2vw;
    }

}




@media  screen and (max-width: 480px) {

    .skills-section{

        scroll-margin-top:15vw;
    }

    .front-end-subsections{

        font-size: 3vw;
        padding-left: 2vw;
        /* text-align: justify; */
    }

    .front-end-technologies-heading{

        font-size: 4vw;
        
    }

     .front-end-subsections>p{

        font-size: 3vw;
     }

}

    
