

.contacts-section{

    width: 100%;
    height: fit-content;
    /* border: 2px solid red; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(21, 21, 65);
    background-color: rgb(31, 31, 1);
    background-color: rgb(2, 38, 39);
    /* background-color: white; */
    /* background-color: rgb(31, 30, 30); */
     
    margin-top: 10vw;
     padding-top: 3vw;
     padding-bottom: 5vw;
    scroll-margin-top: 4vw;
     /* border-top: 1px solid rgb(100, 99, 99); */
     /* box-shadow: 0px 0px 10px 10px  rgba(0, 0, 0, 0.5); */
}

.contact-container{

     border: 1px solid rgb(173, 172, 172);
     width: fit-content;
     height: fit-content;
     padding: 1vw 2vw;
     padding-bottom: 3vw;
     /* background-color: rgb(36, 34, 34);
     background-color: rgb(5, 57, 78); */
      /* background-color:rgb(1, 1, 31); */
     border-radius: 10px;
     margin-top: -1vw;
    
     
}

.contacts-section-heading{

    font-size: 2vw;
    /* border: 1px solid rgb(173, 172, 172); */
    text-align: center;
    margin-bottom: 4vw;
}

.email-container{

    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  row-gap: 0vw;
    align-items: center;
    padding: 0;
    /* margin-bottom: 4vw; */
}

.name-container,.email-div,.text-area-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0vw;
    /* border: 2px solid blue; */
    padding: 0;
    margin: 0;
    height: fit-content;
    width: fit-content;
    /* margin-bottom: -1vw; */
}

.name-field,.email-field{

    width: 30vw;
    height: 2vw;
    border-radius: 5px;
    border: none;
    margin: 1vw 0;
    padding-left: 1vw;
   color: rgb(202, 196, 196);
    border: 1px solid white;
     background-color: rgb(2, 38, 39);
    text-align: center;
}

.email-text-area{

    width: 30vw;
    height:8vw;
    border-radius: 5px;
    border: none;
    margin: 1vw 0;
    padding-left: 1vw;
    border: 1px solid white;
     background-color: rgb(2, 38, 39);
    color: rgb(238, 232, 232);
}

.email-button{

    width: 30vw;
    height: 3vw;
    border-radius: 5px;
    border: none;
    margin-top: 1vw ;
    padding-left: 1vw;
    background-color: rgb(7, 70, 95);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid white;
}





sup{

    color: red;
    font-size: 1vw;
}




.hyperlinks-container{

    width: 80%;
    height: fit-content;
    /* border: 2px solid green; */
    
     display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: flex-start; 
    padding-left: 20vw;
    margin-top: 10vw;
    row-gap: 1vw;

  


}

.hyperlinks-container>div{

    /* border: 1px solid rgb(173, 172, 172); */
    width: fit-content;
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2px;
    
}

.inner-div>img{
    width: 2vw;
    height: 2vw;
    
}

.inner-div>a,p{
    color: white;
    font-size: 1vw;
    text-decoration: none;
}

.inner-div>a:hover{
    color: rgb(0, 183, 255);
}














@media screen and (max-width:480px)
{
    .contacts-section{

        scroll-margin-top:15vw;
        padding: 10vw 0;
    }

    .contacts-section-heading{

    font-size: 4vw;
}

.email-container{

    row-gap: 8vw;
    width: 85vw;
}

.name-field,.email-field{

    width: 80vw;
    height: 8vw;
}

.email-text-area{

     width: 80vw;
        height: 50vw;
}

.email-button{

    width: 80vw;
    height: 10vw;
}

.inner-div>a,p{

    font-size: 3vw;
}

.inner-div>img{
    width: 8vw;
    height: 8vw;
    
}

.hyperlinks-container{

    row-gap: 8vw;
    padding-left: 0vw;
    /* border: 2px solid red; */
    width: fit-content;
    grid-template-columns: repeat(1, 1fr);
    /* align-items: flex-start; */
    /* justify-items: center; */
}

.hyperlinks-container>div{
    
     padding-left: 10vw;
}

label,button{
    font-size: 4vw;
}

}










@media screen and (max-width:768px) and (min-width:481px)
{
    .contacts-section{

        scroll-margin-top:15vw;
        padding: 10vw 0;
    }

    .contacts-section-heading{

    font-size: 4vw;
}

.email-container{

    row-gap: 3vw;
}

.name-field,.email-field{

    width: 80vw;
    height: 8vw;
}

.email-text-area{

     width: 80vw;
        height: 30vw;
}

.email-button{

    width: 80vw;
    height: 8vw;
}

.inner-div>a,p{

    font-size: 2vw;
}

.inner-div>img{
    width: 4vw;
    height: 4vw;
    
}

.hyperlinks-container{

    row-gap: 3vw;
    padding: 0;
    /* border: 2px solid red; */
    width: 100%;
}

.hyperlinks-container>div{
    
     padding-left: 10vw;
}

label,button{
    font-size: 3vw;
}

}