
 #image-container{

    width: 100%;
    z-index: 2;
    /* background-color: rgb(31, 29, 29);
    background-color: rgb(2, 2, 53);
    background-color: rgb(2, 2, 2);
    background-color: rgb(10, 10, 10);
    background-color:rgb(2, 39, 44);
    background-color:rgb(1, 28, 32);
     background-color: rgb(1, 1, 27); */
    /* position: fixed; */
    
    /* background-color: rgb(1, 1, 37); */
    /* background-color: rgb(138, 138, 14); */

  
    
 }

 #photo{

 
    width: 42vw;
    height: 42vw;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 40px;
    /* border: 2px solid  rgb(205, 66, 205); */
      border: 2px solid  rgb(3, 223, 252);
    /* border: 2px solid  rgb(205, 66, 205); */
   
    box-shadow: 0 0 20px 2px rgb(5, 150, 169);
   
 }

 #photo:hover{

    border: 2px solid  rgb(3, 223, 252);
    /* border: 2px solid  rgb(205, 66, 205); */
   
    box-shadow: 0 0 20px 2px rgb(5, 150, 169);
    /* box-shadow: 0 0 20px 2px rgb(146, 7, 146); */

     border: 2px solid  rgb(9, 167, 9);
    box-shadow: 0 0 70px 2px green;
 }

 #image-heading-description
 {
    color: black;
    color: white;
    /* color:antiquewhite; */
      /* color:rgb(238, 139, 10); */
      /* color:cyan;
      color:crimson;
      color:darkorange */
    /* color:azure; */
    /* color:beige;
    color:bisque; */
    /* background-color:aquamarine; */
   

    
 }

  .download-cv-container{

   color: white;
   /* border: 2px solid green; */
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;


 }

  .download-cv{

   background-color:rgb(131, 5, 249);
 
   color: white;
   
   border: 1px solid rgb(202, 195, 195);
    box-shadow: 0 0 20px 1px rgb(171, 169, 169);

 }

 .download-cv:hover{

   background-color:rgb(0, 191, 255);
   /* border: 1px solid rgb(158, 9, 9); */
 }




 @media screen and (max-width: 320px) and (min-width: 0px) {


    #image-container{

   
    /* height: 70vh; */
    height: fit-content;
    margin-top: 8vh;
    border-radius: 10px;
    
    text-align: center;
    padding-bottom: 10vh;
    border: 0.1vw solid rgb(62, 59, 59);
    width: 90%;
    /* background-color: rgb(1, 38, 43);
    background-color:rgb(48, 58, 59); */
  
    
 }

 #image-heading-description
 {
    

   
    font-size: 4vw;
    margin-top: 8vh;
    /* font-weight: 500; */
    text-align: center;
    
 }

  #image-description
 {
    justify-content: center;
    padding: 0 4vw;
 }
 .mern-span{

   color: rgb(224, 8, 8);
   color:rgb(3, 223, 252);
   /* color: rgb(205, 66, 205); */
   font-size: 5vw;
    
 }

 .mern{
font-size: 5vw;
color: rgb(2, 253, 253);
color: rgb(254, 6, 138);
color: rgb(130, 1, 250);
color:rgb(3, 223, 252);
color:rgb(243, 243, 22);
color:rgb(252, 5, 54);
color:fuchsia;
color: rgb(205, 66, 205);
/* color:rgb(3, 223, 252); */

font-weight: 500;
 }

  #image{

 
    width: 40vw;
    height: 40vw;
    /* height: 130px; */
    border-radius: 50%;
    object-fit: cover;
    margin-top: 40px;
 }

 .download-cv-container{

  
   width: 90%;
   height: fit-content;
   margin-top: 10vh;
 
   gap: 7vw;

 }

 .download-cv-container>a>img{

   width: 10vw;
   height: 10vw;
   object-fit: cover;
   /* border-radius: 15px; */
   background-color: none;
 }



 .download-cv{

 
   padding: 2vw 3vw;
   border-radius: 10px;
     font-size: 4vw;
     
   

 }
 }



 @media screen and (max-width: 480px) and (min-width: 321px) {


    #image-container{

   
    /* height: 70vh; */
    height: fit-content;
    margin-top: 8vh;
    border-radius: 10px;
    
    text-align: center;
    padding-bottom: 10vh;
    border: 0.1vw solid rgb(62, 59, 59);
    width: 90%;
    /* background-color: rgb(1, 38, 43);
    background-color:rgb(48, 58, 59); */
  
    
 }

 #image-heading-description
 {
    

   
    font-size: 4vw;
    margin-top: 8vh;
    /* font-weight: 500; */
    text-align: center;
    
 }

  #image-description
 {
    justify-content: center;
    padding: 0 4vw;
 }
 .mern-span{

   color: rgb(224, 8, 8);
   color:rgb(3, 223, 252);
   /* color: rgb(205, 66, 205); */
   font-size:5vw;
    
 }

 .mern{
font-size: 5vw;
color: rgb(2, 253, 253);
color: rgb(254, 6, 138);
color: rgb(130, 1, 250);
color:rgb(3, 223, 252);
color:rgb(243, 243, 22);
color:rgb(252, 5, 54);
color:fuchsia;
color: rgb(205, 66, 205);
/* color:rgb(3, 223, 252); */

font-weight: 500;
 }

  #image{

 
    width: 40vw;
    height: 40vw;
    /* height: 130px; */
    border-radius: 50%;
    object-fit: cover;
    margin-top: 40px;
 }

 .download-cv-container{

  
   width: 90%;
   height: fit-content;
   margin-top: 10vh;
 
   gap: 7vw;

 }

 .download-cv-container>a>img{

   width: 12vw;
   height: 12vw;
   object-fit: cover;
   /* border-radius: 15px; */
   background-color: none;
 }



 .download-cv{

 
   padding: 3vw 4vw;
   border-radius: 10px;
     font-size: 4vw;
     
   

 }
 }




 @media screen and (max-width: 768px) and (min-width: 481px) {


    #image-container{

   
    /* height: 70vh; */
    height: fit-content;
    margin-top: 8vh;
    border-radius: 10px;
    
    text-align: center;
    padding-bottom: 10vh;
    border: 0.1vw solid rgb(62, 59, 59);
    width: 80%;
    /* background-color: rgb(1, 38, 43);
    background-color:rgb(48, 58, 59); */
  
    
 }

 #image-heading-description
 {
    

   
    font-size: 2vw;
    margin-top: 8vh;
    /* font-weight: 500; */
    text-align: center;
    
 }

  #image-description
 {
    justify-content: center;
    padding: 0 4vw;
 }
 .mern-span{

   color: rgb(224, 8, 8);
   color:rgb(3, 223, 252);
   /* color: rgb(205, 66, 205); */
   font-size: 2.5vw;
    
 }

 .mern{
font-size: 2.5vw;
color: rgb(2, 253, 253);
color: rgb(254, 6, 138);
color: rgb(130, 1, 250);
color:rgb(3, 223, 252);
color:rgb(243, 243, 22);
color:rgb(252, 5, 54);
color:fuchsia;
color: rgb(205, 66, 205);
/* color:rgb(3, 223, 252); */

font-weight: 500;
 }

  #photo{

 
    width: 20vw;
    height: 20vw;
  
    border-radius: 50%;
    object-fit: cover;
    margin-top: 40px;
 }

 .download-cv-container{

  
   width: 90%;
   height: fit-content;
   margin-top: 15vh;
 
   gap: 7vw;

 }

 .download-cv-container>a>img{

   width: 6vw;
   height: 6vw;
   object-fit: cover;
   /* border-radius: 15px; */
   background-color: none;
 }



 .download-cv{

 
   padding: 1vw 2vw;
   border-radius: 10px;
     font-size: 3vw;
     
   

 }
 }






 @media screen and (max-width: 1024px) and (min-width: 769px) {


    #image-container{

   display: none;
    /* height: 70vh; */
    height: fit-content;
    margin-top: 8vh;
    border-radius: 10px;
    
    text-align: center;
    padding-bottom: 10vh;
    border: 0.1vw solid rgb(62, 59, 59);
    width: 80%;
    /* background-color: rgb(1, 38, 43);
    background-color:rgb(48, 58, 59); */
  
    
 }

 #image-heading-description
 {
    

   
    font-size: 2vw;
    margin-top: 8vh;
    /* font-weight: 500; */
    text-align: center;
    
 }

  #image-description
 {
    justify-content: center;
    padding: 0 4vw;
 }
 .mern-span{

   color: rgb(224, 8, 8);
   color:rgb(3, 223, 252);
   /* color: rgb(205, 66, 205); */
   font-size: 2.5vw;
    
 }

 .mern{
font-size: 2.5vw;
color: rgb(2, 253, 253);
color: rgb(254, 6, 138);
color: rgb(130, 1, 250);
color:rgb(3, 223, 252);
color:rgb(243, 243, 22);
color:rgb(252, 5, 54);
color:fuchsia;
color: rgb(205, 66, 205);
/* color:rgb(3, 223, 252); */

font-weight: 500;
 }

  #photo{

 
    width: 20vw;
    height: 20vw;
  
    border-radius: 50%;
    object-fit: cover;
    margin-top: 40px;
 }

 .download-cv-container{

  
   width: 90%;
   height: fit-content;
   margin-top: 15vh;
 
   gap: 7vw;

 }

 .download-cv-container>a>img{

   width: 6vw;
   height: 6vw;
   object-fit: cover;
   /* border-radius: 15px; */
   background-color: none;
 }



 .download-cv{

 
   padding: 1vw 2vw;
   border-radius: 10px;
     font-size: 3vw;
     
   

 }
 }