#image-container {

  width: 100%;
  z-index: 2;
  scroll-margin-top: 15vw;
}



#photo:hover
 {

  
box-shadow: 0 0 70px 2px rgb(1, 97, 135);
}

#image-heading-description {

  color: white;
  }

.download-cv-container {

  color: white;
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

.download-cv {

 
  background-color: rgb(0, 132, 184);
   color: rgb(255, 255, 255);
}

.download-cv:hover {

  background-color: rgb(0, 191, 255);
 
}








@media screen and (max-width: 480px) and (min-width: 0px) {


  #image-container {


   
    height: fit-content;
    margin-top: 0vh;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 5vh;
    width: 100%;
   

  }

  #image-heading-description {



    font-size: 3.3vw;
    margin-top: 0vh;
   text-align: center;


  }

  #image-heading {

    font-size: 7vw;
    margin-top: 1vw;
  }

  #image-description {
    justify-content: center;
    padding: 0 1vw;
    margin-top: 1vh;
    line-height: 3.7vw;

  }

  #soft-engineer-span {

    
    display: block;
    margin-top: -5vw;
    font-size: 4.5vw;
    color: rgb(68, 214, 165);
    color: rgb(3, 223, 252);
    
  }

  .mern-span {

    color: rgb(224, 8, 8);
    color: rgb(0, 225, 255);
    font-size: 3.7vw;

  }

  .mern {
    font-size: 4vw;
    color: rgb(205, 66, 205);
   font-weight: 500;
  }

  #photo {


    width: 38vw;
    height: 38vw;

    border-radius: 50%;
    object-fit: cover;
    margin-top: 40px;
   border: 2px solid white;
  }

  .download-cv-container {


    width: 90%;
    height: fit-content;
    margin-top: -7vw;
    gap: 7vw;

  }

  .download-cv-container>a>img {

    width: 10vw;
    height: 10vw;
    object-fit: cover;
   background-color: none;
  }



  .download-cv {


    padding: 3vw 5vw;
    border-radius: 20px;
    font-size: 4vw;
    border: none;



  }
}




@media screen and (max-width: 768px) and (min-width: 481px) {


    #image-container {


   
    height: fit-content;
    margin-top: 8vw;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 5vh;
    width: 100%;
   

  }

  #photo {


    width: 35vw;
    height: 35vw;

    border-radius: 50%;
    object-fit: cover;
    margin-top: 40px;
   border: 2px solid white;
  }




  #image-heading-description {



   
    margin-top: 0vh;
   text-align: center;


  }



  #image-heading {

    font-size: 6vw;
    margin-top: 1vw;
  }

  #image-description {
     font-size: 3.3vw;
    justify-content: center;
    padding: 0 1vw;
    margin-top: 1vh;
    line-height: 4.2vw;

  }

  #soft-engineer-span {
 
    
    display: block;
    margin-top: -5vw;
    font-size: 4.5vw;
    color: rgb(68, 214, 165);
    color: rgb(3, 223, 252);
    
  }

  .mern-span {

    color: rgb(224, 8, 8);
    color: rgb(0, 225, 255);
    font-size: 3.7vw;

  }

  .mern {
    font-size: 4vw;
    color: rgb(205, 66, 205);
   font-weight: 500;
  }


  .download-cv-container {


    width: 90%;
    height: fit-content;
    margin-top: -5vw;
    gap: 7vw;

  }

  .download-cv-container>a>img {

    width: 10vw;
    height: 10vw;
    object-fit: cover;
   background-color: none;
  }



  .download-cv {


    padding: 3vw 5vw;
    border-radius: 30px;
    font-size: 4vw;
    border: none;



  }
}









@media screen and (max-width: 1440px) and (min-width: 769px) {


  #image-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;


    height: fit-content;
    margin-top: 8vw;
    border-radius: 10px;
    padding: 0vh 3vw;
    border: 0.1vw solid rgb(143, 142, 142);
    width: 70%;
    box-sizing: border-box;

    background-color: rgb(3, 61, 44);
   
   
    
  }


  #image-heading-description {

    text-align: left;
    width: 50%;
    margin-bottom: 6vw;

  }

  #photo {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1vw;
   
    border: 2px solid white;

    

  }



  #image-heading {
    font-size: 2.5vw;
    margin-bottom: 1vh;
    font-weight: 500;
  }

  #image-description {

    line-height: 1.5vw;
    font-size: 0.9vw;
    text-align: justify;
    margin-top: 0.5vw;
  }

  #soft-engineer-span{

font-size: 1.7vw;

font-weight: 200;
color: rgb(3, 223, 252);
color: rgb(3, 253, 3);
color: rgb(5, 246, 165);
  }

  .mern-span {

    
    color: rgb(0, 225, 255);
    font-weight: 600;


  }

  .mern {
  
    color: rgb(253, 0, 253);
    font-weight: 600;
   

    font-weight: 500;
  }


  .download-cv-container {

   
    width: fit-content;
    height: fit-content;
    margin-top: -6vw;
    
    margin-right: 39%;
    gap: 1.3vw;
    
    z-index: 2;
   

  }

  .download-cv-container>a>img {

    width: 2.8vw;
    height: 2.8vw;
    object-fit: cover;
    
    background-color: none;
  }



  .download-cv {


    padding: 0.8vw 1vw;
    border-radius: 10px;
    font-size: 1.1vw;
    border: none;
     color: rgb(41, 237, 172);
     border: 1.5px solid rgb(4, 189, 4);
     background-color: rgb(0, 0, 0);



  }

  .download-cv:hover {

  
  color: white;
  border: 1px solid white;
 
}
}





@media screen and (min-width: 1441px) {


  #image-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;


    height: fit-content;
    margin-top: 10vw;
    border-radius: 10px;
    padding: 0vh 3vw;
    border: 0.1vw solid rgb(143, 142, 142);
    width: 70%;
    box-sizing: border-box;
    /* background-color: #000000;  */
       /* background-color: rgb(2, 2, 33); */
/* background-color: #383535;  */
    background-color: rgb(3, 61, 44);
    /* background-color: rgb(1, 1, 27); */
  }


  #image-heading-description {

    text-align: left;
    width: 50%;
    margin-bottom: 6vw;

  }

  #photo {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1vw;
   
    border: 2px solid white;

    

  }



  #image-heading {
    font-size: 2.5vw;
    margin-bottom: 1vh;
    font-weight: 500;
  }

  #image-description {

    line-height: 1.5vw;
    font-size: 0.9vw;
    text-align: justify;
    margin-top: 0.5vw;
  }

  #soft-engineer-span{

font-size: 1.7vw;

font-weight: 200;
color: rgb(3, 223, 252);
  }

  .mern-span {

    color: rgb(224, 8, 8);
    color: rgb(3, 206, 232);


  }

  .mern {
  
    color: rgb(205, 66, 205);
   

    font-weight: 500;
  }


  .download-cv-container {

   
    width: fit-content;
    height: fit-content;
    margin-top: -6vw;
    
    margin-right: 35%;
    gap: 2vw;
    
    z-index: 2;
   

  }

  .download-cv-container>a>img {

    width: 2.8vw;
    height: 2.8vw;
    object-fit: cover;
    
    background-color: none;
  }



  .download-cv {


    padding: 0.8vw 1vw;
    border-radius: 10px;
    font-size: 1.1vw;
    border: none;
     color: rgb(41, 237, 172);
     border: 1.5px solid rgb(4, 189, 4);
     background-color: rgb(0, 0, 0);



  }

  .download-cv:hover {

  
  color: white;
  border: 1px solid white;
 
}
}
